<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../utility/siren-entity-mixin.html">
<link rel="import" href="../../styles/shared-styles.html">

<dom-module id="siren-object-classes">
	<template strip-whitespace>
		<style include="shared-styles"></style>
		<template is="dom-if" if="{{hasClasses}}">
			<h2>Classes</h2>
			<div class="pre">
				<pre>{{classes}}</pre>
			</div>
		</template>
	</template>

	<script>
		class SirenObjectClasses extends Polymer.Element {

			static get is() { return 'siren-object-classes'; }

			static get properties() {
				return {
					entity: {
						type: Object
					},
					token: {
						type: String
					},
					href: {
						type: String,
						notify: true
					},
					classes: {
						type: String,
						value: ''
					},
					hasClasses: {
						type: Boolean,
						computed: '_hasClasses(entity)',
						value: false
					},
				};
			}
			static get observers() {
				return [
					'_changed(entity)'
				];
			}
			_changed() {
				this.classes = this._getClasses();
			}
			_hasClasses(entity) {
				return entity && entity.class;
			}
			_getClasses() {
				return this._hasClasses(this.entity) && JSON.stringify(this.entity.class, null, 2) || '';
			}
		}

		window.customElements.define(SirenObjectClasses.is, SirenObjectClasses);
	</script>
</dom-module>
