<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./siren-subentity.html">
<link rel="import" href="../../styles/shared-styles.html">

<dom-module id="siren-object-subentities">
	<template>
		<style include="shared-styles"></style>
	    <h2>Entities</h2>
	      <ul>
	      <template is="dom-repeat" items="{{entities}}">
	        <li>
	          <siren-subentity href="{{href}}" entity="{{item}}"></siren-subentity>
	        </li>
	      </template>
	    </ul>
	</template>

	<script>
		class SirenObjectSubEntities extends Polymer.Element {

			static get is() { return 'siren-object-subentities'; }
			static get properties() {
				return {
					entities: {
						type: Array,
						value: []
					},
					entity: {
						type: Object
					},
					token: {
						type: String
					},
					href: {
						type: String,
						notify: true
					},
				};
			}
			static get observers() {
				return [
					'_changed(entity)'
				];
			}
			_changed(entity) {
				this.entities = entity.entities || [];
			}
		}

		window.customElements.define(SirenObjectSubEntities.is, SirenObjectSubEntities);
	</script>
</dom-module>
