<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../utility/siren-entity-mixin.html">
<link rel="import" href="./entities/siren-object-subentities.html">

<dom-module id="siren-subentities">
	<template>
		<siren-object-subentities href="{{href}}" token="{{token}}" entity="{{entity}}" ></siren-object-subentities>
	</template>

	<script>
		/* @mixes SirenEntityMixin */
		class SirenSubEntities extends SirenEntityMixin(Polymer.Element) {
			static get is() { return 'siren-subentities'; }
		}
		window.customElements.define(SirenSubEntities.is, SirenSubEntities);
	</script>
</dom-module>
