<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../utility/siren-entity-mixin.html">

<link rel="import" href="./siren-classes.html">
<link rel="import" href="./siren-properties.html">
<link rel="import" href="./siren-links.html">
<link rel="import" href="./siren-actions.html">
<link rel="import" href="./siren-subentities.html">
<link rel="import" href="../styles/shared-styles.html">

<link rel="import" href="./loading-modal.html">

<dom-module id="siren-entity">
	<template>
		<style include="shared-styles">
			.left {
				max-width: 40%;
			}
		</style>
		<loading-modal active="{{showModal}}"></loading-modal>
		<div class="flex-parent">
			<div class="flex-1 left">
				<siren-classes href="{{href}}" token="{{token}}"></siren-classes>
				<siren-properties href="{{href}}" token="{{token}}"></siren-properties>
			    <siren-links href="{{href}}" token="{{token}}"></siren-links>
				<siren-actions href="{{href}}" token="{{token}}"></siren-actions>
			</div>
			<div class="flex-2">
			    <siren-subentities href="{{href}}" token="{{token}}"></siren-subentities>
			</div>
		</div>
	</template>

	<script>
		/* @mixes SirenEntityMixin */
		class SirenEntity extends SirenEntityMixin(Polymer.Element) {
			static get is() { return 'siren-entity'; }
			static get properties() {
				return {
					showModal: {
						type: Boolean,
						value: false
					}
				};
			}
			static get observers() {
				return [
					'_showModal(href)',
					'_hideModal(entity)'
				];
			}
			_hideModal(entity){
				this.showModal = !this.showModal;
			}
			_showModal(href){
				this.showModal = !this.showModal;
			}
		}

		window.customElements.define(SirenEntity.is, SirenEntity);
	</script>
</dom-module>
