<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../utility/siren-entity-mixin.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="siren-classes">
	<template>
		<style include="shared-styles"></style>
		<h2>Classes</h2>
		<div class="pre">
			<pre>{{classes}}</pre>
		</div>
	</template>

	<script>
		/* @mixes SirenEntityMixin */
		class SirenClasses extends SirenEntityMixin(Polymer.Element) {

			static get is() { return 'siren-classes'; }

      static get properties() {
        return {
          classes: {
            type: String,
            value: ''
          }
        }
      };
      static get observers() {
        return [
          '_changed(entity)'
        ];
      };
      _changed(entity){
        this.classes = this._getClasses();
      }
      _hasClasses() {
        return this.entity && this.entity.class;
      }

      _getClasses() {
        return this._hasClasses() && JSON.stringify(this.entity.class, null, 2) || '';
      }
		}

		window.customElements.define(SirenClasses.is, SirenClasses);
	</script>
</dom-module>
