<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../utility/siren-entity-mixin.html">
<link rel="import" href="./entities/siren-object-properties.html">

<dom-module id="siren-properties">
	<template strip-whitespace>
		<siren-object-properties href="{{href}}" token="{{token}}" entity="{{entity}}" ></siren-object-properties>
	</template>

	<script>
		/* @mixes window.SirenEntityMixin */
		class SirenProperties extends window.SirenEntityMixin(Polymer.Element) {
			static get is() { return 'siren-properties'; }
		}

		window.customElements.define(SirenProperties.is, SirenProperties);
	</script>
</dom-module>
