<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../utility/siren-entity-mixin.html">
<link rel="import" href="./entities/siren-object-links.html">

<dom-module id="siren-links">
	<template>
		<siren-object-links href="{{href}}" token="{{token}}" entity="{{entity}}" ></siren-object-links>
	</template>

	<script>
		/* @mixes SirenEntityMixin */
		class SirenLinks extends SirenEntityMixin(Polymer.Element) {
			static get is() { return 'siren-links'; }
		}

		window.customElements.define(SirenLinks.is, SirenLinks);
	</script>
</dom-module>
