<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../utility/siren-entity-mixin.html">
<link rel="import" href="./entities/siren-object-actions.html">

<dom-module id="siren-actions">
	<template>
		<siren-object-actions href="{{href}}" token="{{token}}" entity="{{entity}}"></siren-object-actions>
	</template>

	<script>
		/* @mixes window.SirenEntityMixin */
		class SirenActions extends window.SirenEntityMixin(Polymer.Element) {
			static get is() { return 'siren-actions'; }
		}

		window.customElements.define(SirenActions.is, SirenActions);
	</script>
</dom-module>
