<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../utility/siren-entity-mixin.html">
<link rel="import" href="./entities/siren-object-classes.html">

<dom-module id="siren-classes">
	<template>
		<siren-object-classes href="{{href}}" token="{{token}}" entity="{{entity}}"></siren-object-classes>
	</template>

	<script>
		/* @mixes window.SirenEntityMixin */
		class SirenClasses extends window.SirenEntityMixin(Polymer.Element) {

			static get is() { return 'siren-classes'; }
		}
		window.customElements.define(SirenClasses.is, SirenClasses);
	</script>
</dom-module>
